[Desktop Entry]
Categories=Office;
Comment=
Exec=AppRun %u
GenericName=dingtalk
Icon=logo
Keywords=dingtalk;
MimeType=x-scheme-handler/dingtalk;
Name=钉钉
Type=Application
X-Deepin-Vendor=user-custom
